<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <div>
      Use a simulator or a device with a keyboard attached. You can also run in the browser. You will see the following:
      <ul>
        <li>Browser: typing shows up, can tab into input, more typing shows up.</li>
        <li>Android: typing shows up, can tab into input, more typing shows up.</li>
        <li>iOS: you have to tap the app first, then the typing works.</li>
      </ul>
      Expected behavior: iOS should work like Android and browser.
    </div>

    <ion-list>
      <ion-item>
        <ion-input label="enter text"></ion-input>
      </ion-item>
    </ion-list>
    <div>{{log}}</div>
  </div>
</ion-content>
